<h1 class="headline">{{comment.title}}</h1>

<div class="suggestion" ng-controller="SuggestionController">
	<div class="container">
		<div class="row">
		<div class="comment" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
			<span class="comment-body">
			{{comment.body}}
			</span>

			<p>
			<span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span> {{comment.upvotes}} 
			</p>
			</div>
		</div>
	</div>
</div>

	<div class="supporting-2">
		<div class="container">
			<div class="row">
				<form ng-submit="addComment()">
				<h3>Leave us comment</h3>
				<div class="form-group">
				<input type="text" class="form-control" placeholder="Share your thoughts" ng-model="body"></input>
				</div>
				
				<button type="submit" class="btn btn-primary">Comment</button>
				</form>
			</div>
		</div>
	</div>