<h3>{{post.title}}</h3>

<div class="comment" ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-plus-sign"
      ng-click="upVote(comment)"></span>
    {{comment.upvotes}}
    <span class="comment-body">
      {{comment.body}}
    </span>
  </div>

    <!-- post template -->

  <form ng-submit="addComment()"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
  </form>